<section class="coming-soon-section">
    <div class="section-bg-banner">
        <img src="{{ section.settings.site_logo | img_url: 'master' }}" alt="logo" class="img-fluid site-icon">
        <!-- <div class="content-wrap"> -->

            <h1>we are launching soon</h1>
            <div class="offer-timer-wrap">
                {% assign end_date = section.settings.end_date %}
                {% if end_date != blank %}    
                <div class="timer">
                    <div class="timer-display">
                        <div class="timer-block">
                            <span class="timer-block__num js-timer-days">00</span>
                            <span class="timer-block__unit">Days</span>
                        </div>
                        <div class="timer-block">
                            <span class="timer-block__num js-timer-hours">00</span>
                            <span class="timer-block__unit">Hours</span>
                        </div>
                        <div class="timer-block">
                            <span class="timer-block__num js-timer-minutes">00</span>
                            <span class="timer-block__unit">Minutes</span>
                        </div>
                        <div class="timer-block">
                            <span class="timer-block__num js-timer-seconds">00</span>
                            <span class="timer-block__unit">Seconds</span>
                        </div>
                    </div>
                </div> 
                {% endif %}
            </div>
            <div class="banner-bottom-wrap">
                <div class="div-social">
                    <a href="{{ section.settings.facebook_link }}">
                        <img src="{{ 'facebook-whitesvg.png' | file_img_url: 'original' }}" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="div-social">
                    <a href="{{ section.settings.instagram_link }}">
                        <img src="{{ 'instagram-3.png' | file_img_url: 'original' }}" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="div-social">
                    <a href="{{ section.settings.pinterest_link }}">
                        <img src="{{ 'Pinterest-white.png' | file_img_url: 'original' }}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
        <!-- </div> -->
    </div>
</section>

<script type="text/javascript">
    var second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24;
    var countDown = new Date('{{- end_date -}}').getTime(),
        x = setInterval(function() {
        var now = new Date().getTime(),
            distance = countDown - now;
      document.querySelector('.js-timer-days').innerText = Math.floor(distance / (day)),
        document.querySelector('.js-timer-hours').innerText = Math.floor((distance % (day)) / (hour)),
      document.querySelector('.js-timer-minutes').innerText = Math.floor((distance % (hour)) / (minute)),
      document.querySelector('.js-timer-seconds').innerText = Math.floor((distance % (minute)) / second);
      }, second)
</script>

{% schema %}
{
    "name": "coming soon template",
    "settings": [
        {
            "type": "image_picker",
            "id": "site_logo",
            "label": "site logo"
        },
        {
            "type": "text",
            "id": "end_date",
            "label": "End Date of offer",
            "info": "date must be in mm/dd/yy format"
        },
        {
            "type": "text",
            "id": "facebook_link",
            "label": "facebook link"
        },
        {
            "type": "text",
            "id": "instagram_link",
            "label": "instagram link"
        },
        {
            "type": "text",
            "id": "pinterest_link",
            "label": "pinterest link"
        }
    ],
    "presets": [
        {
            "category": "page",
            "name":"coming soon template"
        }
    ]
}
{% endschema %}