{% if section.settings.enable_sec %}
<section class="pb-0">
  <div class="footer_section">
  	<div class="footer_row">
      <div class="logo_div">
        {% if section.settings.fot_logo != blank  %}
        <div class="footer_logo">
          <a class="" href="{{ shop.url }}">
            <img src="{{ section.settings.fot_logo | img_url: 'medium' }}" alt="{{ shop.name }} Logo">
          </a>
        </div>
        {% endif %}
        <div class="footer_icon">
          <ul class="social_icon">
            <li>
              <a href="#">
                <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.66667 5.33333H0V8H2.66667V16H6.66667V8H9.09333L9.33333 5.33333H6.66667V4.22267C6.66667 3.58533 6.79467 3.33333 7.41067 3.33333H9.33333V0H6.128C3.73067 0 2.66667 1.056 2.66667 3.07733V5.33333Z" fill="white"/>
                </svg>
              </a>
            </li>
            <li>
              <a href="#">
                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16 1.54C15.412 1.80133 14.7787 1.97733 14.1147 2.05733C14.7933 1.65067 15.312 1.008 15.5587 0.241333C14.924 0.617333 14.2213 0.890667 13.4733 1.03733C12.876 0.398667 12.0213 0 11.0787 0C8.95867 0 7.40133 1.97733 7.88 4.03067C5.15333 3.89333 2.73333 2.58667 1.11467 0.601333C0.254667 2.076 0.669333 4.00667 2.13067 4.984C1.59333 4.96667 1.088 4.81867 0.645333 4.57333C0.609333 6.09333 1.7 7.516 3.27867 7.83333C2.81733 7.95867 2.31067 7.988 1.796 7.88933C2.21333 9.19333 3.428 10.1413 4.86267 10.168C3.48 11.2507 1.74267 11.7347 0 11.5293C1.45333 12.4613 3.17733 13.004 5.03067 13.004C11.1267 13.004 14.5693 7.856 14.3613 3.23867C15.004 2.77733 15.56 2.19867 16 1.54Z" fill="white"/>
                  </svg>                  
              </a>
            </li>
            <li>
              <a href="#">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0C5.82667 0 5.556 0.00933333 4.70133 0.0493333C1.79467 0.182667 0.181333 1.79467 0.048 4.70133C0.00933333 5.556 0 5.828 0 8C0 10.1733 0.00933333 10.4453 0.048 11.2987C0.181333 14.204 1.79467 15.8187 4.70133 15.952C5.556 15.9907 5.82667 16 8 16C10.1733 16 10.4453 15.9907 11.3 15.952C14.2013 15.8187 15.8213 14.2067 15.952 11.2987C15.9907 10.4453 16 10.1733 16 8C16 5.828 15.9907 5.556 15.952 4.70133C15.8213 1.79867 14.2067 0.181333 11.3 0.0493333C10.4453 0.00933333 10.1733 0 8 0ZM7.99995 1.44238C10.136 1.44238 10.3893 1.45038 11.2333 1.48905C13.4026 1.58772 14.4133 2.61572 14.5133 4.76772C14.5506 5.61172 14.5586 5.86372 14.5586 7.99972C14.5586 10.1357 14.5506 10.389 14.5133 11.2317C14.4133 13.3824 13.404 14.413 11.2333 14.5117C10.3893 14.549 10.1373 14.5584 7.99995 14.5584C5.86395 14.5584 5.61062 14.5504 4.76795 14.5117C2.59462 14.4117 1.58795 13.3797 1.48795 11.2317C1.45062 10.389 1.44128 10.1357 1.44128 7.99972C1.44128 5.86372 1.45062 5.61038 1.48795 4.76772C1.58662 2.61438 2.59728 1.58638 4.76795 1.48772C5.61062 1.44905 5.86395 1.44238 7.99995 1.44238ZM3.89197 7.9996C3.89197 5.73027 5.73197 3.8916 7.99997 3.8916C10.268 3.8916 12.108 5.7316 12.108 7.9996C12.108 10.2689 10.268 12.1076 7.99997 12.1076C5.73197 12.1076 3.89197 10.2689 3.89197 7.9996ZM8.00004 10.6663C6.52671 10.6663 5.33337 9.47301 5.33337 7.99967C5.33337 6.52767 6.52671 5.33301 8.00004 5.33301C9.47204 5.33301 10.668 6.52634 10.668 7.99967C10.668 9.47301 9.47204 10.6663 8.00004 10.6663ZM11.3093 3.73067C11.3093 3.2 11.74 2.77067 12.2693 2.77067C12.8013 2.77067 13.2307 3.2 13.2307 3.73067C13.2307 4.26133 12.8 4.69067 12.2693 4.69067C11.7387 4.69067 11.3093 4.26 11.3093 3.73067Z" fill="white"/>
                </svg>                  
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="d-flex flex-wrap">
        <div class="footer_menu_main">
          {% for block in section.blocks %}
          <div class="footer_menu">
            <h3 class="footer_title font-f-el">{{ block.settings.footer_menu_title }}</h3>
            <span class="footer_line"></span>
            <ul class="footer_menu_ul">
              {% for link in block.settings.footer_menu.links %}
              <li class="footer_menu_item">
                <a class="m-0 p-0 d-block text-decoration-none font-f-noto" href="{{ link.url }}">{{ link.title }}</a>
              </li>
              {% endfor %} 
            </ul>
          </div>
          {% endfor %}
        </div>
      </div>
  	</div>
  </div>
</section>
{% endif %}

<style>
  .footer_section{
    background-image: url({{ section.settings.footer_bg_img  | img_url: 'original' }});
  }
</style>

{% schema %}
{
"name": "Footer",
"settings": [
    {
      "type": "checkbox",
      "id": "enable_sec",
      "label": "Enable Section?"
    },
    {
      "type": "header",
      "content": "footer Background Images"
    },
    {
      "type": "image_picker",
      "id": "footer_bg_img",
      "label": "Footer Background Image"
    },
    { 
      "type": "header",
      "content": "Footer Logo"
    },
    {
      "type": "image_picker",
      "id": "fot_logo",
      "label": "Logo"
    }
],
"blocks": [
  {
    "type": "footer_menu",
    "name": "Footer Menu",
    "settings": [
		{
          "type": "text",
          "id": "footer_menu_title",
          "label": "Footer Menu Title"
    	},
      	{
          "type": "link_list",
          "id": "footer_menu",
          "label": "Footer Menu"
      	}
    ]
  }
]
}
{% endschema %}